@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700&family=Quicksand:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;600&display=swap&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap&family=Comfortaa:wght@100;200;300;400;500;600;700&family=Grandstander:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(62, 78, 107);
  --secondary-color: rgb(51, 99, 207);
  --third-color: rgb(153, 175, 191);
  --quad-color: rgb(222, 230, 234);
  --el-primary-color: rgb(135, 152, 124);
  --hover-color: rgba(51, 99, 207, 0.5);
  --color: #fff;
}

/* custom crollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--el-primary-color);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--el-primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgba(21, 43, 6, 0.4) !important;
  color: #fff !important;
  position: relative;
  height: 100vh;
  max-height: 100vh;
}

.bg {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% + 100px);
  width: calc(100% + 25px);
  position: absolute;
  top: -100px;
  left: -25px;
  z-index: -2;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.mobile-navigation {
  display: none;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgba(212, 209, 209, 0.2);
  padding: 0;
  margin: 0;
  position: fixed;
  transform: translateX(-50%);
  padding: 15px 5px;
}

.mobile-navigation li {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
}

.mobile-navigation li i {
  font-size: 20px;
}

.mobile-navigation li:hover {
  background-color: var(--hover-color);
}

.mobile-navigation.active {
  display: flex;
  border-radius: 0 30px 30px 0;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.mobile-navigation.active li {
  margin-top: 10px;
}

.avatar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 200px;
  border-radius: 50%;
}

.avatar .name {
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.avatar .sub-name {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

.avatar .description {
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.main .button-wapper {
  width: 90%;
  height: 90%;
  position: relative;
}

.main .box {
  width: 100%;
  height: 100%;
  background-color: var(--quad-color);
  color: #2b2b2b;
  border-radius: 4px;
  overflow: hidden;
}

.button-wapper .page-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--el-primary-color);
  border: 1px solid var(--quad-color);
  color: #fff;
  font-size: 25px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.button-wapper .page-control:active i {
  transform: scale(1.1);
}

.button-wapper .page-control.left {
  left: -25px;
}

.button-wapper .page-control.right {
  right: -25px;
}

.button-wapper .page-control.disable {
  background-color: var(--third-color);
  cursor: not-allowed;
}

.button-wapper .page-control.disable i {
  transform: none;
}

.navigation {
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0.5em;
  display: flex;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px 0 20px 0;
}

.navigation li {
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--primary-color);
}

.navigation li.active {
  border-bottom: 2px solid var(--el-primary-color);
  white-space: nowrap;
  color: var(--el-primary-color);
}

.slide-box {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-box .cover-img {
  background-image: url('../images/home-cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30%;
  width: 100%;
  position: relative;
  border-radius: 4px 4px 0 0;
}

.slide-box .cover-img .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'QuickSand', sans-serif;
  font-size: 30px;
  white-space: nowrap;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide .slide-title {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

/* Home page */
.slide.home .box-cards {
  width: 100%;
  display: flex;
  justify-content: row;
  justify-content: center;
}

.card-info {
  padding: 0.5em;
  margin-right: 10px;
  background-color: transparent;
  border: 0;
  width: 30%;
  border: 1px solid var(--el-primary-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(135, 152, 124, 0.1);
  border-radius: 2px;
  transition: all 0.5s ease;
}

.card-info:last-child {
  margin-right: 0;
}

.card-info:hover {
  transform: translateY(-5%);
  background-color: rgba(135, 152, 124, 0.2);
}

.card-info .card-title {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color);
  width: 60%;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 700;
}

.card-info ul {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
}

.card-info ul span {
  font-weight: 700;
}

.card-info ul li {
  margin-top: 5px;
}

.card-info.contact ul span {
  font-weight: 500;
  margin-left: 10px;
}

/* Project page */
.slide.projects {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 4em;
}

.slide.projects .slide-title {
  margin-top: 10%;
  text-transform: uppercase;
}

.slide.projects .box-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-project {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  overflow: hidden;
  transition: transform 0.5s ease;
  background-color: transparent;
  box-shadow: 0 0 3px 1px #ccc;
}

.card-project img {
  width: calc(50% - 20px);
  margin: 10px;
  border-radius: 4px;
}

.card-project .project-cover-img {
  display: flex;
  width: 200%;
  align-self: start;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.card-project:hover {
  transform: scale(1.02);
}

.card-project:hover .project-cover-img {
  transform: translateX(-50%);
}

.card-project .card-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 10px;
  width: 80%;
  text-align: center;
  border-top: 1px solid var(--el-primary-color);
}

.card-project .technologies {
  font-family: 'QuickSand', sans-serif;
  color: var(--el-primary-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.card-project .description {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin-left: 20px;
}

@media (max-width: 1400px) and (min-width: 1201px) {
  .avatar .name {
    font-size: 25px;
    font-weight: 700;
  }

  .avatar .sub-name {
    font-size: 15px;
  }

  .main .button-wapper {
    height: 80%;
  }

  .slide.home .cover-img {
    height: 40%;
  }

  .slide.home .cover-img .text {
    font-size: 30px;
  }

  .slide .slide-title {
    font-size: 30px;
    margin-top: 2em;
  }

  .box-cards {
    padding-top: 1em;
  }

  .card-info {
    justify-content: start;
    padding: 10px;
  }

  .card-info .card-title {
    font-size: 14px;
  }

  .card-project {
    width: 65%;
  }
}

/* table and medium screen */
@media (max-width: 1200px) and (min-width: 992px) {
  .avatar .name {
    font-size: 20px;
    font-weight: 700;
  }

  .avatar .sub-name {
    font-size: 10px;
  }

  .avatar .description {
    font-size: 11px;
  }

  .button-wapper .page-control {
    width: 45px;
    height: 45px;
  }

  .main .button-wapper {
    height: 75%;
  }

  .slide.home .cover-img {
    height: 40%;
  }

  .slide.home .cover-img .text {
    font-size: 28px;
  }

  .slide .slide-title {
    font-size: 25px;
  }

  .box-cards {
    padding-top: 2em;
  }

  .card-info {
    justify-content: start;
    padding: 10px;
  }

  .card-info .card-title {
    font-size: 12px;
  }

  .card-info li {
    font-size: 12px;
  }

  .card-info li span {
    max-width: 50%;
  }

  .card-info li i {
    font-size: 12px;
  }

  .card-project {
    width: 70%;
  }
}

/* mobile and small screen */
@media (max-width: 992px) {
  .bg {
    display: none;
  }
  body::before {
    display: none;
  }
  .avatar .name {
    font-size: 20px;
    font-weight: 700;
  }

  .avatar .sub-name {
    font-size: 10px;
  }

  .avatar .description {
    font-size: 11px;
  }

  .button-wapper .page-control {
    width: 45px;
    height: 45px;
  }

  .main .button-wapper {
    height: 75%;
  }

  .slide.home .cover-img {
    height: 40%;
  }

  .slide.home .cover-img .text {
    font-size: 28px;
  }

  .slide .slide-title {
    font-size: 25px;
  }

  .box-cards {
    padding-top: 2em;
  }

  .card-info {
    justify-content: start;
    padding: 10px;
  }

  .card-info .card-title {
    font-size: 12px;
  }

  .card-info li {
    font-size: 12px;
  }

  .card-info li span {
    max-width: 50%;
  }

  .card-info li i {
    font-size: 12px;
  }

  .card-project {
    width: 70%;
  }

  .avatar .description {
    background-color: transparent;
    width: 71%;
  }

  .button-wapper .page-control {
    width: 40px;
    height: 40px;
  }
}
